.form-page
  .transparent-background
    .col-md-4
    .col-md-4{style: 'padding: 70px 15px'}
      .panel.panel-default.devise-bs
        .panel-heading.text-center{style: 'background:#353d47; color: white;'}
          %h4 Resend confirmation instructions
        .panel-body
          = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), autofocus: true, class: "form-control"
            .form-group.actions
              = f.submit "Resend confirmation instructions", class: 'btn btn-sm btn-primary'
