.form-page
  .transparent-background
    .col-md-4
    .col-md-4{style: 'padding: 70px 15px'}
      .panel.panel-default.devise-bs
        .panel-heading.text-center{style: 'background:#353d47; color: white;'}
          %h4 Forgot your password?
        .panel-body
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: "form-control"
            .form-group.actions
              = f.submit "Send me reset password instructions", class: 'btn btn-primary btn-sm'
