.row.zero-margin
  .col-md-12
    %h3 Your Orders
    .table-responsive
      %table.table.table-condensed.table-hover.table-fixed
        %tr.active
          %th order_id
          %th Product
          %th Address
          %th Status     
          //%th Actions
        - @orders.each do |order|
          %tr
            %td= link_to "order-#{order.id}", order_path(order)
            %td= link_to order.product.name , product_path(order.product) rescue "removed"
            %td= [order.line_one, order.landmark, order.area].join(", ")
            %td
              - if current_user.admin?
                = form_for(order, url: order_update_status_path(order)) do |f|
                  = f.select(:status, Order::STATUS, {}, class: "form-control input-sm", onchange: "this.form.submit()", style: "width: 200px;")
              - else
                = Order::STATUS.key(order.status)
            //%td= link_to "cancel order", order_update_status_path(order, order: {status: 4}), method: :patch, class: "btn btn-xs btn-danger"
    = will_paginate @orders