.form-page
  .transparent-background
    .col-md-4
    .col-md-4{style: 'padding: 70px 15px'}
      .panel.panel-default.devise-bs
        .panel-heading.text-center{style: 'background:#353d47; color: white;'}
          %h4 Log in
        .panel-body
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: "form-control"
            .form-group
              = f.label :password
              = f.password_field :password, autocomplete: "off", class: "form-control"
            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me
                = f.label :remember_me
            .form-group.actions
              = f.submit "Log in", class: 'btn btn-sm btn-primary'
          = render "devise/shared/links"
