.row.zero-margin
  .product-items-tab
    .bs-example.bs-example-tabs{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
      - if @brand.types.present?
        %ul#myTab.nav.nav-tabs{:role => "tablist"}
          - @brand.types.distinct.each do |type|
            %li.active{:role => "presentation"}
              %a#home-tab{"aria-controls" => "home", "data-toggle" => "tab", :href => "##{type.id}", :role => "tab"}= type.name
        #myTabContent.tab-content
          - type1 =  @brand.types.first
          .tab-pane.fade.active.in{"aria-labelledby" => "home-tab", :role => "tabpanel", id: "#{type1.id}"}
            .brand_tabs
              - @brand.products.where("type_id = (?)", type1.id).each do |item|
                = render :partial => "products/product_box", locals: {item: item}   
              .clearfix
          - @brand.types.distinct.drop(1).each do |type|
            .tab-pane.fade{"aria-labelledby" => "home-tab", :role => "tabpanel", id: "#{type.id}"}
              .brand_tabs
                - @brand.products.where("type_id = (?)", type.id).each do |item|
                  = render :partial => "products/product_box", locals: {item: item}
                .clearfix
        :javascript
          $(document).ready(function(){
            $('.nav-tabs li:not(:first-child)').removeClass("active");
          })
      - else
        oops