.row.zero-margin{style: "background-color:mintcream"}
  %br
  .col-md-12
    /%span#brand-name= @brand.name
    - @brands.each do |brand|
      - magic_class = brand == @brand ? 'btn selected-button' : 'btn btn-default'
      = link_to brand.name.upcase, brand_path(brand), class: "#{magic_class} mybutton"
    = link_to 'ALL', brands_path, class: 'btn btn-default mybutton'
    = link_to 'Accessories ??', accessories_path(accessory: true), method: :get, class: "btn btn-default pull-right"
    %hr
  = render "brands/mini_show"