.row.zero-margin
  %br
  .col-md-12
    - @brands.each do |brand|
      - magic_class = brand == @product.brand ? 'btn selected-button' : 'btn btn-default'
      = link_to brand.name.upcase, brand_path(brand), class: magic_class
    = link_to 'ALL', brands_path, class: 'btn btn-default'
%hr.zero-margin-bottom
.row.zero-margin{style: 'background-color: #F8F9F9'}
  %br
  .col-md-5
    .bzoom_wrap.product-image
      %br
      %ul#bzoom{data: {imageCount: @product.images.count}}
        - @product.images.each do |item|
          %li
            %img.bzoom_thumb_image{:src => item.picture.url(:medium)}
            %img.bzoom_big_image{:src =>  item.picture.url}
  .col-md-7
    .product-details
      %br
      %span.product-heading= @product.name
      .price-box
        %p
          %span= "Rs.#{@product.price}"
          %i.item_price= "Rs.#{get_price(@product)}"        
          %span{style: "text-decoration:none; color: #999;"}="(#{@product.discount}% off)"
      .row.product-color
        .col-xs-2.text-gray Color
        .col-xs-8
          %li=@product.color
      %br
      .row.highlights
        .col-sm-2.text-gray
          %h5 Highlights
        .col-sm-10
          - @product.highlight.split(",").each do |hglt|
            %li= hglt
      %br
      %br
      .row
        .col-md-6
          - if current_user.present? && current_user.admin
            = link_to "edit", edit_product_path(@product), class: "btn btn-default w3ls-cart"
            = link_to "delete", @product, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger pull-right'
          - else
            - modal = current_user.present? ? "#orderModal" : "#loginModal"
            = link_to "Buy now", modal, "data-toggle" => "modal", class: "btn btn-default form-control order-now-button"

.row.zero-margin{style: 'background-color: #F8F9F9'}
  %br
  .col-md-12
    .specifications
      %br
      %h4.text-undeline General Specifications
      %p= @product.general
      %h4.text-undeline Display
      %p= @product.display
      %h4.text-undeline Os and Processors
      %p= @product.software
      %h4.text-undeline Camera
      %p= @product.camera
      %h4.text-undeline Connectivity
      %p= @product.connectivity
      %h4.text-undeline Memory
      %p= @product.memory
      %h4.text-undeline Battery
      %p= @product.battery
      %h4.text-undeline Dimensions
      %p= @product.dimensions

#orderModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"} &times;
        %h4.modal-title Place your order here...
      .modal-body
        = render 'orders/form'

:javascript
$(document).ready(function(){
  $("#bzoom").zoom({
    small_thumbs: $("#bzoom").data("imagecount"),
    zoom_area_width: 350,
    thumb_image_width: 275,  
    thumb_image_height: 350
  });
})
  